<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/x-icon" href="http://104.236.159.193:8850/images/logoamigoinvesa.png"/>
  <title>
    Cátalogo
  </title>
  <!-- Fonts and icons -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../css/nucleo-icons.css" rel="stylesheet" />
  <link href="../css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />

  <style>
    .searchFieldContent{
      position: relative;
    }
    .searchFieldContent i{ 
      position: absolute;
      top: 28%;
      left: 5%;
      cursor: pointer;
    }
    .searchFieldContent input{ 
      padding-left: 30px;
    }
    .imgCard{
      max-width: 100%;
      max-height: 100%;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
    .cardCatalog{
      width: 160px;
      transition: 0.3s;
      cursor: pointer;
    }
    .cardCatalog:hover{
      transform: scale(1.05);
      filter: grayscale(100%);
    }

    .btnColor{
      background-image: none !important;
      background-color: #4CAF50 !important;
    }

    #preloader{
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 100000;
      background-color: rgb(0,0, 0, 0.7)
    }

    #preloader div{
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;
    }

    .spinner {
      width: 40px;
      height: 40px;

      position: relative;
      margin: 100px auto;
    }

    .double-bounce1, .double-bounce2 {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: white;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;
      
      -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
        animation: sk-bounce 2.0s infinite ease-in-out;
    }

    .double-bounce2 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }

    @-webkit-keyframes sk-bounce {
      0%, 100% { -webkit-transform: scale(0.0) }
      50% { -webkit-transform: scale(1.0) }
    }

    @keyframes sk-bounce {
      0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
      } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
      }
    }
  </style>
</head>

<body class="g-sidenav-show bg-gray-100" onunload='$("#preloader").hide();'>

  <!-- Menu -->
  <%- include('./partials/menu.ejs') %>

  <main class="main-content max-height-vh-100 h-100">

    <!-- Navbar -->
    <%- include('./partials/head.ejs') %>

    <!-- Cotent -->
    <div class="p-4 m-4">

      <!-- Head Catalogo -->
      <div class="card p-2">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="m-0 ms-3">Fichas <span id="catalogName"></span> </h5>  
          <div class="w-50 d-flex gap-1 justify-content-end align-items-center">
            <div id="showInactive" data-bs-toggle="tooltip"  data-bs-placement="top" title="Mostrar Fichas Inactivas" class=" icon icon-shape icon-sm bg-gradient-primary shadow text-center border-radius-lg btnColor" style="cursor: pointer; position: relative;" >
              <i class="fas fa-ban"></i>
            </div>
            <div onclick="newUser()" data-bs-toggle="tooltip" data-bs-placement="top" title="Crear Ficha" class=" icon icon-shape icon-sm bg-gradient-primary shadow text-center border-radius-lg btnColor" style="cursor: pointer; position: relative;" >
              <i class="fas fa-plus" ></i>
            </div>
            <div class="searchFieldContent">
              <i class="fas fa-search iconField" onclick="filterByValue($('#searchField').val())"></i>
              <input type="text" class="form-control" name="" id="searchField">
            </div>
          </div>
        </div>
      </div>

      <!-- Cards Catalogo -->
      <div id="itemsCatalog" class="d-flex flex-wrap justify-content-center gap-3 mt-3"> <!-- Contenido dinamico --> </div>

      <!-- Preloader -->
      <div id="preloader" style="display: none;">
        <div>
          <div class="spinner" style="width: 100px; height: 100px; margin-bottom: 10px;">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
          <h5 style="color: white;">Cargando Contenido ...</h5>
        </div>
      </div>
    </div>
      
  </main> 

  <!--   Core JS Files   -->
  <script src="../js/core/popper.min.js"></script>
  <script src="../js/core/bootstrap.min.js"></script>
  <script src="../js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../js/plugins/smooth-scrollbar.min.js"></script>
  <script src="../js/plugins/choices.min.js"></script>
  <!-- Kanban scripts -->
  <script src="../js/plugins/dragula/dragula.min.js"></script>
  <script src="../js/plugins/jkanban/jkanban.js"></script>
  <!-- Jquery -->
  <script src="../js/jquery.js"></script>
  <script src="../js/jquery-ui.min.js"></script>
  <!-- Underscore -->
  <script src="../js/underscore-min.js"></script>
  <!-- Script Plantilla -->
  <script src="../js/soft-ui-dashboard.min.js?v=1.0.3"></script>

  <script>
    let catalogContent;
    const removeSpecialCharacters = (s) => { //TODO revisar, parseo no funciona desde el back
      s = s.replace(/\\n/g, "\\n")  
           .replace(/\\'/g, "\\'")
           .replace(/\\"/g, '\\"')
           .replace(/\\&/g, "\\&")
           .replace(/\\r/g, "\\r")
           .replace(/\\t/g, "\\t")
           .replace(/\\b/g, "\\b")
           .replace(/\\f/g, "\\f");
      s = s.replace(/[\u0000-\u0019]+/g,""); 
      return s;
    };

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    let showActive = true;
    $("#showInactive").on("click", function () {
      if (showActive) {
        printItems(catalogContent.catalogo_enc, true)
        showActive = false;
      } else {
        printItems(catalogContent.catalogo_enc, false)
        showActive = true;
      }
    })

    const printItems = (data, showInactive) => {
      $("#itemsCatalog").html("")
      for (let i = 0; i < data.length; i++) {
        let caso;
        if (showInactive) {
          caso = "I"
        } else {
          caso = "A"
        }

        if (data[i].estado != caso){continue};
        let element = `
          <div class="card cardCatalog" id="${data[i].id}">
            <div style="min-width: 160px; height: 160px;" >
              <img src="http://104.236.159.193:3010/${data[i].foto}" alt=""  class="imgCard">
            </div>
            <div class="text-center p-2">
              <h6 class="m-0" style="font-size: 13px;">${(data[i].titulo ? data[i].titulo : "Sin datos disponibles")}</h6>
              <h6 class="m-0" style="font-size: 13px;">${data[i].subtitulo}</h6>
            </div>
          </div>
        `;
        $("#itemsCatalog").append(element)
      }

      $("#catalogName").text(data[0].nombre_catalogo)
    };

    const newUser = () => {
      $("#preloader").show();
      window.location.href = "/detail/-1";
    }

    $(document).on("click", ".cardCatalog", function () {
      let idCard = $(this).attr("id");
      $("#preloader").show();
      window.location.href = "/detail/"+idCard;
    })

    const filterByValue = function (stringFilter) {
      let filteredByText = _.filter(catalogContent.catalogo_enc, o => {
        if (o.nombre.toLowerCase().split(' ').join('').indexOf(stringFilter.toLowerCase()) > -1 || 
            o.nombre_catalogo.toLowerCase().split(' ').join('').indexOf(stringFilter.toLowerCase()) > -1) return o;
      });

      if (filteredByText.length != 0) {
        printItems(filteredByText);
      } else {
        printItems([]);
      };
    }

    $('#searchField').keyup(function(e) {
      let string = $(this).val();
      if (string.length > 2) {
        filterByValue(string);
      } else {
        filterByValue("");
      };
    });

    // script.onreadystatechange(function(){ 
    //   if(script.readyState == 'loaded' || script.readyState == 'complete') {
    //     $("#preloader").hide();
    //   } 
    // });



    history.navigationMode = 'compatible';
    $(document).ready(function () {
      catalogContent= '<%- catalogContent %>';
      catalogContent = removeSpecialCharacters(catalogContent)
      catalogContent = JSON.parse(catalogContent)
      console.log(catalogContent)

      printItems(catalogContent.catalogo_enc)
      $("#preloader").hide();
    })


  </script>

</body>
</html>