<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/x-icon" href="http://104.236.159.193:8850/images/logoamigoinvesa.png"/>
  <title>
    Inicio Sesión
  </title>
  <!-- Fonts and icons -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../css/nucleo-icons.css" rel="stylesheet" />
  <link href="../css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />

  <style>
    .imgContainer{
      background-color: #4caf50; 
      height: 85px; 
      border-top-left-radius: 0.5rem; 
      border-top-right-radius: 0.5rem; 
      display: flex; 
      justify-content: center; 
      align-items: center;
    }
    .forgotPassword{
      transition: 0.3s;
      cursor: pointer;
    }
  </style>
</head>

<body class="g-sidenav-show bg-gray-100">
  <main class="main-content max-height-vh-100 h-100">

    <!-- Cotent -->
    <div class="p-4 m-4" style="height: 100vh; ">
      <div class="w-100 h-100 d-flex justify-content-center align-items-center">
        <div class="card" style="width: 30vw;">
          <div class="imgContainer">
            <img src="http://api.pedbox.co:8850/images/logo_quid_blanco.png" style="max-height: 100%; max-width: 100%;">
          </div>
          <div class="m-3 mb-1">
            <label for="">Usuario</label>
            <input type="text" class="form-control" id="username">
          </div>
          <div class="m-3">
            <label for="" class="mt-2">Contraseña</label>
            <input type="password" class="form-control" id="password">
          </div>
          <button id="btnIngresar" class="btn btn-primary mt-4 mx-3" style="background-color: #4caf50;">Ingresar</button>
          <hr class="horizontal dark mt-0">
          <label for="" class="text-center mb-3 forgotPassword">¿Olvidó su Contraseña?</label>
        </div>
      </div>
    </div>  
      
  </main>

  <!--   Core JS Files   -->
  <script src="../js/core/popper.min.js"></script>
  <script src="../js/core/bootstrap.min.js"></script>
  <script src="../js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../js/plugins/smooth-scrollbar.min.js"></script>
  <script src="../js/plugins/choices.min.js"></script>
  <!-- Kanban scripts -->
  <script src="../js/plugins/dragula/dragula.min.js"></script>
  <script src="../js/plugins/jkanban/jkanban.js"></script>
  <!-- Jquery -->
  <script src="../js/jquery.js"></script>
  <script src="../js/jquery-ui.min.js"></script>
  <!-- Underscore -->
  <script src="../js/underscore-min.js"></script>
  <!-- Script Plantilla -->
  <script src="../js/soft-ui-dashboard.min.js?v=1.0.3"></script>


  <script>  


    $("#btnIngresar").click(function () {
      let usuario = $("#username").val().trim();
      let contrasena = $("#password").val().trim();

      if (usuario == "" || contrasena == "") { return };
      var credenciales = { 'usuario' : usuario, 'clave': contrasena};

      fetch('/login/loginValidate', {
        method: 'POST',
        headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
        body: JSON.stringify(credenciales)
      })
      .then(res => res.json())
      .then(res => {
        console.log(res)
        if (res.success) {
          window.location.href = '/catalogos/cultivos'
        } else {
          alert("No fue posible iniciar sesion. Usuario o contraseña incorrectos")
        }
      });
    })


  </script>

</body>
</html>