<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/x-icon" href="http://104.236.159.193:8850/images/logoamigoinvesa.png"/>
  <title>
    Mapa Calor
  </title>
  <!-- Fonts and icons -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../css/nucleo-icons.css" rel="stylesheet" />
  <link href="../css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />

  <style>
    #cardsContainer>div{
      width: 16%;
      transition: 0.3s;
    }
    #cardsContainer>div:hover{
      background-color: lightgrey;
    }
    #cardsContainer h4{
      font-size: 15px !important;
    }
  </style>
</head>

<body class="g-sidenav-show bg-gray-100">

  <!-- Menu -->
  <%- include('./partials/menu.ejs') %>

  <main class="main-content max-height-vh-100 h-100">

    <!-- Navbar -->
    <%- include('./partials/head.ejs') %> 

    <!-- Cotent -->
    <div class="p-4 m-4"> 
      <div class="card flex-row p-3 my-2 justify-content-between align-items-center">
        <h6>Mapa De Calor Por Rango de Fecha</h6>
        <div>
          <div class="d-flex gap-2 align-items-center">  
            <div>
              <label for="date1">Desde</label> 
              <input class="form-control" id="date1" type="date">
            </div>
            <div>
              <label for="date2">Hasta</label> 
              <input class="form-control"  id="date2" type="date">
            </div>
            <div onclick="searRangoFecha()" data-bs-toggle="tooltip" data-bs-placement="top" title="Buscar Evaluaciones" class=" icon icon-shape icon-sm bg-gradient-primary shadow text-center border-radius-lg" style="cursor: pointer; margin-top: 30px;" >
              <i class="fas fa-search" ></i>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex gap-1" id="chartsContainer"> <!-- Contenido Dinamico -->  </div> 
      <div class="d-flex gap-1">
        <div class="card p-3 mt-2" id="tableContainer"> <!-- Contenido Dinamico --> </div>
        <div class="card p-3 mt-2" id="tableContainer2"> <!-- Contenido Dinamico --> </div>
      </div>
      
    </div>
      
  </main>

  <!--   Core JS Files   -->
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="/js/plugins/choices.min.js"></script>
  <!-- Kanban scripts -->
  <script src="/js/plugins/dragula/dragula.min.js"></script>
  <script src="/js/plugins/jkanban/jkanban.js"></script>
  <!-- Jquery -->
  <script src="/js/jquery.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <!-- Underscore -->
  <script src="/js/underscore-min.js"></script>
  <!-- Script Plantilla -->
  <script src="/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
  <!-- Chart JS -->
  <script src="/js/plugins/chartjs.min.js"></script>
  <!-- Datatable -->
  <script src="../js/plugins/datatables.js"></script>

  <script>
    const handleJSON = (s) => {
      if (s == null && s == "") { return }
      // Remove special characters
      s = s.replace(/\\n/g, "\\n")  
           .replace(/\\'/g, "\\'")
           .replace(/\\"/g, '\\"')
           .replace(/\\&/g, "\\&")
           .replace(/\\r/g, "\\r")
           .replace(/\\t/g, "\\t")
           .replace(/\\b/g, "\\b")
           .replace(/\\f/g, "\\f")
           .replace(/[\u0000-\u0019]+/g,"")
           .replace(/\n/g, "\\n");
      return JSON.parse(s)
    }

    var data = '<%- data %>';
    data = handleJSON(data);
    console.log(data)

    function percentage(partialValue, totalValue) {
      return (100 * partialValue) / totalValue;
    } 

    const printTable = (data) => {
      let secciones = [];
      for (let i = 0; i < data.length; i++) {
        if (!(data[i].nodo in secciones)){
          secciones[data[i].nodo] = 1
        } else {
          secciones[data[i].nodo] += 1
        }
      }
      

      let usuarios = [];
      for (let i = 0; i < data.length; i++) {
        if (!(data[i].nombre in usuarios)){
          usuarios[data[i].nombre] = 1
        } else {
          usuarios[data[i].nombre] += 1
        }
      }
      console.log(usuarios)
      

      // Table Secciones
      $("#tableContainer").html("");
      let thead = `
        <h6>Uso de la Aplicación por Sección</h6>
        <table id="tableInformes" style="table-layout: fixed;">
          <thead>
            <tr id="tableHead">
              <th  class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 noSorter">% Uso</th>
              <th  class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 noSorter">Sección</th>
            </tr> 
          </thead>  
        </table>
      `;
      $("#tableContainer").append(thead)

      let tbody = "<tbody>";
      for (const x in secciones) {
        let element = `
          <tr>
            <td class="text-center">${percentage(secciones[x], data.length).toFixed(2)}%</td>
            <td class="text-center">${x}</td>
          </tr>
        `;  
        tbody += element;      
      }
      tbody += "</tbody>"
      $("#tableInformes").append(tbody)
      const tableObj = new simpleDatatables.DataTable("#tableInformes"); 
      
      
      // Table Usuarios
      $("#tableContainer2").html("");
      let thead2 = `
        <h6>Uso de la Aplicación por Usuario</h6>
        <table id="tableUsuarios" style="table-layout: fixed;">
          <thead>
            <tr id="tableHead">
              <th  class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 noSorter">Uso</th>
              <th  class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 noSorter">Usuario</th>
            </tr> 
          </thead>  
        </table>
      `;
      $("#tableContainer2").append(thead2)

      let tbody2 = "<tbody>";
      for (const x in usuarios) {
        let element = `
          <tr>
            <td class="text-center">${usuarios[x]}</td> 
            <td class="text-center">${x}</td>
          </tr>
        `;  
        tbody2 += element;      
      }
      tbody2 += "</tbody>"
      $("#tableUsuarios").append(tbody2)
      const tableObj2 = new simpleDatatables.DataTable("#tableUsuarios"); 
    }


    const printCharts = (data) => {
      $("#chartsContainer").html();
      let element = `
        <div class="chart card p-3 mt-2 flex-fill w-50" >
          <h6 style="text-transform: capitalize">Secciones Más Usadas Android</h6>
          <canvas id="chartAndroid" class="chart-canvas" height="300"></canvas>
        </div>
  
        <div class="chart card p-3 mt-2 flex-fill w-50" >
          <h6 style="text-transform: capitalize">Secciones Más Usadas iOS</h6>
          <canvas id="chartIOS" class="chart-canvas" height="300"></canvas>
        </div>
      `;
      $("#chartsContainer").html(element);

      // Android data
      let android = _.where(data, {plataforma: 1});
      let androidNodos = {};
      let androidLabels = [];
      let androidData = [];
      for (let i = 0; i < android.length; i++) {
        if (!(android[i].nodo in androidNodos)){
          androidNodos[android[i].nodo] = 1
        } else {
          androidNodos[android[i].nodo] += 1
        }
      }
      for (x in androidNodos) {
        androidLabels.push(x);
        androidData.push(androidNodos[x]);
      }
      
      // Ios data
      let ios = _.where(data, {plataforma: 2});
      let iosNodos = {};
      let iosLabels = [];
      let iosData = [];
      for (let i = 0; i < ios.length; i++) {
        if (!(ios[i].nodo in iosNodos)){
          iosNodos[ios[i].nodo] = 1
        } else {
          iosNodos[ios[i].nodo] += 1
        }
      }
      for (x in iosNodos) {
        iosLabels.push(x);
        iosData.push(iosNodos[x]);
      }
      
      var chart1 = document.getElementById("chartAndroid").getContext("2d");
      new Chart(chart1, {
          type: "line",
          data: {
          labels: androidLabels,
          datasets: [{
              label: "",
              weight: 5,
              fill: false,
              borderColor: 'rgb(75, 192, 192)',
              tension: 0.1,
              data: androidData,
            }]
          },
          options:{
            scales:{
                  x: {
                      display: false
                  }
              }
          }
      });

      var chartPromedio = document.getElementById("chartIOS").getContext("2d");
      new Chart(chartPromedio, {
          type: "line",
          data: {
          labels: iosLabels,
          datasets: [{
              label: "",
              weight: 5,
              fill: false,
              borderColor: '#FCB7C6',
              tension: 0.1,
              data: iosData,
          }]
          },
          options:{
            scales:{
                  x: {
                      display: false
                  }
              }
          }
      });
    }
    
    const searRangoFecha = () => {
      let dateStart = $("#date1").val();
      let dateEnd = $("#date2").val();

      dateStart = dateStart.replace(/-/g, "");
      dateEnd = dateEnd.replace(/-/g, "");

      let link = `http://104.236.159.193:3010/get_analytics?fechaInicial=${dateStart}&fechaFinal=${dateEnd}`;

      fetch(link)
      .then(res => res.json())
      .then(res => {
        console.log(res)
        alert("?")

        printCharts(res.analytics);
        printTable(res.analytics);
      })
      .catch(error => console.error(error));
    }
    

    $(document).ready(function () {
      printCharts(data.analytics);
      printTable(data.analytics);

      let currentDate = new Date();
      currentDate = currentDate.toISOString().substr(0, 10)
      $("#date2").val(currentDate)

      var firstDay = new Date(new Date().getFullYear(), 0, 1);
      firstDay = firstDay.toISOString().substr(0, 10);
      $("#date1").val(firstDay)

    })

  </script>

</body>
</html>