<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/x-icon" href="http://104.236.159.193:8850/images/logoamigoinvesa.png"/>
  <title>
    Ranking Asesores
  </title>
  <!-- Fonts and icons -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../css/nucleo-icons.css" rel="stylesheet" />
  <link href="../css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />

  <style>
    .noSorter .dataTable-sorter::after{
      opacity: 0;
    }
    .noSorter .dataTable-sorter::before{
      opacity: 0;
    }
    .iconTable{
      cursor: pointer;
    }
    .dataTable-wrapper .dataTable-bottom .dataTable-pagination .dataTable-pagination-list .active a {
      background-image: none !important;
      background-color: #4caf50;
    }
  </style>
</head>

<body class="g-sidenav-show bg-gray-100">

  <!-- Menu -->
  <%- include('./partials/menu.ejs') %>

  <main class="main-content max-height-vh-100 h-100">

    <!-- Navbar -->
    <%- include('./partials/head.ejs') %>

    <!-- Cotent -->
    <div class="p-4 m-4">

      <h6 class="ms-2">Ranking Asesores</h6>
      
      <div class="card p-3">
        <table id="tableUsuarios" style="table-layout: fixed;">
          <thead>
            <tr id="tableHead">
              <th  class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 w-8 noSorter">#</th>
              <th  class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 w-15 noSorter">Foto</th>
              <th  class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 noSorter">Asesor</th>
              <th  class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 noSorter ">Cargo</th>
              <th  class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 noSorter ">Puntos</th>
              <th  class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 noSorter w-10"></th>
            </tr> 
          </thead>  
        </table>
      </div>
    </div>  
      
  </main>

  <!--   Core JS Files   -->
  <script src="../js/core/popper.min.js"></script>
  <script src="../js/core/bootstrap.min.js"></script>
  <script src="../js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../js/plugins/smooth-scrollbar.min.js"></script>
  <script src="../js/plugins/choices.min.js"></script>
  <!-- Kanban scripts -->
  <script src="../js/plugins/dragula/dragula.min.js"></script>
  <script src="../js/plugins/jkanban/jkanban.js"></script>
  <!-- Jquery -->
  <script src="../js/jquery.js"></script>
  <script src="../js/jquery-ui.min.js"></script>
  <!-- Underscore -->
  <script src="../js/underscore-min.js"></script>
  <!-- Script Plantilla -->
  <script src="../js/soft-ui-dashboard.min.js?v=1.0.3"></script>
  <!-- Datatable -->
  <script src="../js/plugins/datatables.js"></script>

  <script>  
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    const handleJSON = (s) => {
      if (s == null && s == "") { return }
      // Remove special characters
      s = s.replace(/\\n/g, "\\n")  
           .replace(/\\'/g, "\\'")
           .replace(/\\"/g, '\\"')
           .replace(/\\&/g, "\\&")
           .replace(/\\r/g, "\\r")
           .replace(/\\t/g, "\\t")
           .replace(/\\b/g, "\\b")
           .replace(/\\f/g, "\\f")
           .replace(/[\u0000-\u0019]+/g,"")
           .replace(/\n/g, "\\n");
           ; 

      // Remove New Lines
      return JSON.parse(s)
    }

    // ***
    const printTable = (data) =>{
      console.log("f", data)

      var tableBody = "<tbody id='tableBody'>"

      for (let i = 0; i < data.length; i++) {
        let tableRow = `
          <tr ${data[i].id_usuario}>
            <td>${i + 1}</td>
            <td>
              <div style="width: 60px; height: 60px; border-radius: 50%">
                <img src="http://104.236.159.193:3010/${data[i].foto}" onerror='this.onerror=null;  this.src="http://104.236.159.193:8850/images/logoamigoinvesa.png"' alt=""  style="max-height: 100%; max-width: 100%; border-radius: 50%">
              </div>
            </td>
            <td>${data[i].nombre}</td>
            <td>${data[i].cargo}</td>
            <td class="text-center">${data[i].total_puntos}</td>
            <td class="text-center"><i class="fas fa-info-circle iconTable" id="${data[i].id_usuario}" data-bs-toggle="tooltip"  data-bs-placement="top" title="Mostrar Detalle"></i></td>
          </tr>
        `;
        tableBody += tableRow
      }
      tableBody += "</tbody>"
      $("#tableUsuarios").append(tableBody);
      const tableObj = new simpleDatatables.DataTable("#tableUsuarios");   
    }

    $(document).on("click", ".iconTable", function () {
      let id = Number($(this).attr("id"))
      window.location.href = "/informes/movimientos/"+id;
    })

    $(document).ready(function () {
      var ranking = '<%- lista %>';
      ranking = handleJSON(ranking)
      console.log(ranking)
      printTable(ranking.ranking)
    })



  </script>

</body>
</html>