<style>
  .closeSession{
    transition: 0.3s;
  }
  .closeSession:hover{
    color: red;
  }
  .imgClass{
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
</style>



<nav class="navbar navbar-main navbar-expand-lg  position-sticky mt-4 top-1 px-0 mx-4 shadow-none border-radius-xl z-index-sticky" id="navbarBlur" data-scroll="true">

  <div class="w-100 d-flex justify-content-between align-items-center">

    <div class="container-fluid py-1 px-3">
      <div class="sidenav-toggler sidenav-toggler-inner d-xl-block d-none ">
        <a href="javascript:;" class="nav-link text-body p-0">
          <div class="sidenav-toggler-inner">
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
          </div>
        </a>
      </div>
    </div>

    <div class="w-50 d-flex justify-content-end align-items-center gap-2 me-3">
      <div style="text-align: right;" class="d-flex flex-column">
        <label class="m-0" >Jessy Pauline Maussa</label>
        <label for="" class="m-0 closeSession" style="font-size: 11px; cursor: pointer;">Cerrar Sesion</label>
      </div>
      <div style="width: 40px; height: 40px; border-radius: 50%; background-color: lightgray;">
        <img src="http://104.236.159.193:3010/media/usuario/JessyPaulineMaud8tp4z1.png" class="imgClass" alt="" >
      </div>
    </div>

  </div>
</nav>  