<style>
    /* Style Scrollbar */
    .removeScrollbar::-webkit-scrollbar {
      display: none;
    }
    /* .scrollBar::-webkit-scrollbar {
      width: 12px;              
    }

    .scrollBar::-webkit-scrollbar-track {
      background: white;       
    }

    .scrollBar::-webkit-scrollbar-thumb {
      background-color: lightgray;    
      border-radius: 20px;       
    }
    .scrollBar {
      scrollbar-width: thin;         
      scrollbar-color: white lightgray;   
    } */
</style>


<!-- Menu -->
<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 removeScrollbar" id="sidenav-main" >
  <div class="sidenav-header">
    <div class="navbar-brand m-0 d-flex gap-2" style="font-size: 20px;">
      <span class="ms-1 font-weight-bold">QUID</span>
    </div>
  </div>
  <hr class="horizontal dark mt-0">
  <!-- Menu -->
  <div class="collapse navbar-collapse  w-auto h-auto max-height-vh-100 h-100 scrollBar" id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <li class="nav-item" >
        <a class="nav-link"  data-bs-toggle="collapse" href="#collapseCatalog" >
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
            <i class="fas fa-table" style="color: #252f40; font-size: 12px"></i>
          </div>
          <span class="nav-link-text ms-1 "> <h6 class="m-0 text-xs font-weight-bolder opacity-6">Catálogos</h6> </span>
        </a>
        <div class="collapse show" id="collapseCatalog">
          <ul class="navbar-nav">
            <li class="nav-item" >
              <a class="nav-link" href="/catalogos/cultivos" >
                <span class="sidenav-mini-icon"> C </span>
                <span class="nav-link-text ms-1 font-weight-bold">Cultivos</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/catalogos/enfermedades" >
                <span class="sidenav-mini-icon"> E </span>
                <span class="nav-link-text ms-1 font-weight-bold">Enfermedades</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/catalogos/malezas" >
                <span class="sidenav-mini-icon"> M </span>
                <span class="nav-link-text ms-1 font-weight-bold">Malezas</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/catalogos/plagas" >
                <span class="sidenav-mini-icon"> P </span>
                <span class="nav-link-text ms-1 font-weight-bold">Plagas</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/catalogos/productos" >
                <span class="sidenav-mini-icon"> P </span>
                <span class="nav-link-text ms-1 font-weight-bold">Productos</span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item" >
        <a class="nav-link"  data-bs-toggle="collapse" href="#collapseReport" >
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
            <i class="fas fa-chart-pie" style="color: #252f40; font-size: 12px"></i>
          </div>
          <span class="nav-link-text ms-1 "> <h6 class="m-0 text-xs font-weight-bolder opacity-6">Informes</h6> </span>
        </a>
        <div class="collapse show" id="collapseReport">
          <ul class="navbar-nav">
            <li class="nav-item" >
              <a class="nav-link" href="/informes/ranking" >
                <span class="sidenav-mini-icon"> R </span>
                <span class="nav-link-text ms-1 font-weight-bold">Ranking asesores</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/informes/movimientos" >
                <span class="sidenav-mini-icon"> M </span>
                <span class="nav-link-text ms-1 font-weight-bold">Movimientos</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/informes/productos" >
                <span class="sidenav-mini-icon"> P </span>
                <span class="nav-link-text ms-1 font-weight-bold">Productos</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/informes/evaluaciones" >
                <span class="sidenav-mini-icon"> E </span>
                <span class="nav-link-text ms-1 font-weight-bold">Evaluaciones</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/informes/blancosBiologicos" >
                <span class="sidenav-mini-icon"> B </span>
                <span class="nav-link-text ms-1 font-weight-bold">Blancos Biólogicos</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="../Generales/CRM.html" >
                <span class="sidenav-mini-icon"> BM </span>
                <span class="nav-link-text ms-1 font-weight-bold">Mapa Blancos Biólogicos (f)</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="../Generales/CRM.html" >
                <span class="sidenav-mini-icon"> M </span>
                <span class="nav-link-text ms-1 font-weight-bold">Mapa Calor (f)</span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item" >
        <a class="nav-link"  data-bs-toggle="collapse" href="#collapseActions" >
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
            <i class="fas fa-dice-d6" style="color: #252f40; font-size: 12px"></i>
          </div>
          <span class="nav-link-text ms-1 "> <h6 class="m-0 text-xs font-weight-bolder opacity-6">Acciones</h6> </span>
        </a>
        <div class="collapse show" id="collapseActions">
          <ul class="navbar-nav">
            <li class="nav-item" >
              <a class="nav-link" href="/solicitudInformacion" >
                <span class="sidenav-mini-icon"> SI </span>
                <span class="nav-link-text ms-1 font-weight-bold">Solicitud Información</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/notificaciones" >
                <span class="sidenav-mini-icon"> N </span>
                <span class="nav-link-text ms-1 font-weight-bold">Notificaciones</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/clientes" >
                <span class="sidenav-mini-icon"> LC </span>
                <span class="nav-link-text ms-1 font-weight-bold">Lista Clientes</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/aportes" >
                <span class="sidenav-mini-icon"> LA </span>
                <span class="nav-link-text ms-1 font-weight-bold">Lista Aportes</span>
              </a>
            </li>

          </ul>
        </div>
      </li>

      <li class="nav-item" >
        <a class="nav-link"  data-bs-toggle="collapse" href="#collapseConfig" >
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
            <i class="fas fa-wrench" style="color: #252f40; font-size: 12px"></i>
          </div>
          <span class="nav-link-text ms-1 "> <h6 class="m-0 text-xs font-weight-bolder opacity-6">Configuración</h6> </span>
        </a>
        <div class="collapse show" id="collapseConfig">
          <ul class="navbar-nav">
            <li class="nav-item" >
              <a class="nav-link" href="/usuarios">
                <span class="sidenav-mini-icon"> US </span>
                <span class="nav-link-text ms-1 font-weight-bold">Usuarios</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/sucursales" >
                <span class="sidenav-mini-icon"> US </span>
                <span class="nav-link-text ms-1 font-weight-bold">Sucursales</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/usuariosExternos" >
                <span class="sidenav-mini-icon"> UE </span>
                <span class="nav-link-text ms-1 font-weight-bold">Usuarios Externos</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="../Generales/CRM.html" >
                <span class="sidenav-mini-icon"> PC </span>
                <span class="nav-link-text ms-1 font-weight-bold">Crear Propiedades Catálogo (f)</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="../Generales/CRM.html" >
                <span class="sidenav-mini-icon"> SC </span>
                <span class="nav-link-text ms-1 font-weight-bold">Secciones Catálogo (f)</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="../Generales/CRM.html" >
                <span class="sidenav-mini-icon"> CC </span>
                <span class="nav-link-text ms-1 font-weight-bold">Contenido Secciones (f)</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/permisos" >
                <span class="sidenav-mini-icon"> P </span>
                <span class="nav-link-text ms-1 font-weight-bold">Permisos</span>
              </a>
            </li>

          </ul>
        </div>
      </li>
    </ul>
  </div>
</aside>