<style>
  .removeScroll::-webkit-scrollbar{
    display: none;
    overscroll-behavior: contain;
  }
  .ps__rail-y::-webkit-scrollbar{
    display: none;
  }
</style>

 <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 removeScroll" id="sidenav-main" style="z-index: 1;">
  <div class="sidenav-header" style="background-color: #4caf50">
    <div style="width: 100%; height: 85px;" class="d-flex justify-content-center"> 
      <img src="http://api.pedbox.co:8850/images/logo_quid_blanco.png" alt="" style="max-height: 100%; max-width: 100%;">
    </div>
  </div>
  <div class="collapse navbar-collapse  w-auto  max-height-vh-100 h-100 removeScroll" id="sidenav-collapse-main" style="background-color: white;">
    <ul class="navbar-nav">

      <li class="nav-item" id="sectionCatalogos">
        <a class="nav-link"  data-bs-toggle="collapse" href="#collapseCatalog" >
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
            <i class="fas fa-table" style="color: #252f40; font-size: 12px"></i>
          </div>
          <span class="nav-link-text ms-1 "> <h6 class="m-0 text-xs font-weight-bolder opacity-6">Catálogos</h6> </span>
        </a>
        <div class="collapse show" id="collapseCatalog">
          <ul class="navbar-nav ms-2">
            <li class="nav-item" >
              <a class="nav-link" href="/catalogos/cultivos" >
                <span class="nav-link-text ms-1 font-weight-bold">Cultivos</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/catalogos/enfermedades" >
                <span class="nav-link-text ms-1 font-weight-bold">Enfermedades</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/catalogos/malezas" >
                <span class="nav-link-text ms-1 font-weight-bold">Malezas</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/catalogos/plagas" >
                <span class="nav-link-text ms-1 font-weight-bold">Plagas</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/catalogos/productos" >
                <span class="nav-link-text ms-1 font-weight-bold">Productos</span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item removeScroll" id="sectionInformes"> 
        <a class="nav-link"  data-bs-toggle="collapse" href="#collapseReport" >
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
            <i class="fas fa-chart-pie" style="color: #252f40; font-size: 12px"></i>
          </div>
          <span class="nav-link-text ms-1 "> <h6 class="m-0 text-xs font-weight-bolder opacity-6">Informes</h6> </span>
        </a>
        <div class="collapse show" id="collapseReport">
          <ul class="navbar-nav ms-2">
            <li class="nav-item" >
              <a class="nav-link" href="/informes/ranking" id="sectionRanking">
                <span class="nav-link-text ms-1 font-weight-bold">Ranking asesores</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/informes/movimientos" id="sectionMovimientos">
                <span class="nav-link-text ms-1 font-weight-bold">Movimientos</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/informes/productos" id="sectionMovimientosProductos">
                <span class="nav-link-text ms-1 font-weight-bold">Productos</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/informes/evaluaciones" id="sectionEvaluaciones">
                <span class="nav-link-text ms-1 font-weight-bold">Evaluaciones</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/informes/blancosBiologicos" id="sectionMovimientosBB">
                <span class="nav-link-text ms-1 font-weight-bold">Blancos Biólogicos</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/informes/mapaBlancosBiologicos" id="sectionBB">
                <span class="nav-link-text ms-1 font-weight-bold">Mapa Blancos Biólogicos</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/informes/mapaCalor" id="sectionMapaCalor">
                <span class="nav-link-text ms-1 font-weight-bold">Mapa Calor</span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item removeScroll" >
        <a class="nav-link"  data-bs-toggle="collapse" href="#collapseActions" >
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
            <i class="fas fa-dice-d6" style="color: #252f40; font-size: 12px"></i>
          </div>
          <span class="nav-link-text ms-1 "> <h6 class="m-0 text-xs font-weight-bolder opacity-6">Acciones</h6> </span>
        </a>
        <div class="collapse show" id="collapseActions">
          <ul class="navbar-nav ms-2">
            <li class="nav-item" id="sectionUsuarios">
              <a class="nav-link" href="/usuarios">
                <span class="nav-link-text ms-1 font-weight-bold">Usuarios</span>
              </a>
            </li>
            <li class="nav-item" id="sectionSucursales">
              <a class="nav-link" href="/sucursales" >
                <span class="nav-link-text ms-1 font-weight-bold">Sucursales</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/solicitudInformacion" id="sectionSolicitudInfo">
                <span class="nav-link-text ms-1 font-weight-bold">Solicitud Información</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/notificaciones" id="sectionNotificaciones">
                <span class="nav-link-text ms-1 font-weight-bold">Notificaciones</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/clientes" id="sectionClientes">
                <span class="nav-link-text ms-1 font-weight-bold">Lista Clientes</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/usuariosExternos" >
                <span class="nav-link-text ms-1 font-weight-bold">Usuarios Externos</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/aportes" id="sectionAportes">
                <span class="nav-link-text ms-1 font-weight-bold">Lista Aportes</span>
              </a>
            </li>

          </ul>
        </div>
      </li>

      <li class="nav-item removeScroll" >
        <a class="nav-link"  data-bs-toggle="collapse" href="#collapseConfig" >
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center  me-2 d-flex align-items-center justify-content-center">
            <i class="fas fa-wrench" style="color: #252f40; font-size: 12px"></i>
          </div>
          <span class="nav-link-text ms-1 "> <h6 class="m-0 text-xs font-weight-bolder opacity-6">Configuración</h6> </span>
        </a>
        <div class="collapse show" id="collapseConfig">
          <ul class="navbar-nav ms-2">
            <li class="nav-item" id="sectionCrearPropiedades">
              <a class="nav-link" href="/catalogo/crearPropiedades" >
                <span class="nav-link-text ms-1 font-weight-bold">Crear Propiedades Catálogo</span>
              </a>
            </li>
            <li class="nav-item" id="sectionCrearSecciones">
              <a class="nav-link" href="/catalogo/seccionesCatalogo" >
                <span class="nav-link-text ms-1 font-weight-bold">Secciones Catálogo</span>
              </a>
            </li>
            <li class="nav-item" id="sectionConfigurarContenidoSecciones">
              <a class="nav-link" href="/catalogo/contenidoSecciones" >
                <span class="nav-link-text ms-1 font-weight-bold">Contenido Secciones </span>
              </a>
            </li>
            <li class="nav-item" id="sectionPermisos">
              <a class="nav-link" href="/permisos" >
                <span class="nav-link-text ms-1 font-weight-bold">Permisos</span>
              </a>
            </li>

          </ul>
        </div>
      </li>
    </ul>
  </div>
</aside>
